@charset "UTF-8";

@font-face {
	font-family: 'HANBatang';
	src: url('https://cdn.jsdelivr.net/gh/wizfile/font/HANBatang.eot');
	src: url('https://cdn.jsdelivr.net/gh/wizfile/font/HANBatang.woff')
		format('woff');
	font-style: normal;
}

* {
	font-family: 'HANBatang';
	font-style: normal;
}

body {
	background-color: rgb(121, 121, 121); /* 배경색 설정 */
	/* overflow: hidden; /* 스크롤바 숨기기 */
	width: 100%;
}

.container {
	display: flex; /* 플렉스 박스 설정 */
}

.subContainer1, .subContainer2, .subContainer3 {
	/* padding: 10px; /* 패딩 설정 */
	border: 5px solid whitesmoke; /* 테두리 설정 */
	height: 880px; /* 높이 설정 */
	position: relative; /* 상대 위치 설정 */
}

.subContainer1 {
	flex: 1; /* 플렉스 비율 설정 */
	width: 270px; /* 너비 설정 */
	background-color: rgb(255, 255, 255);
}

#logo {
	width: 200px; /* 너비 설정 */
	height: 100px; /* 높이 설정 */
}

.search {
	margin: 0 auto; /* 중앙 정렬 */
	margin-top: 20px; /* 위 여백 설정 */
	margin-right: 20px;
	background-color: #3f3f3f; /* 배경색 설정 */
	border-radius: 10px; /* 모서리 둥글게 */
	padding: 10px; /* 패딩 설정 */
	width: 500px; /* 너비 설정 */
	height: 30px; /* 높이 설정 */
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 그림자 효과 */
	/* display: flex; 플렉스 박스 설정 */
	align-items: center; /* 수직 중앙 정렬 */
}

.search-input {
	width: 400px; /* 너비 설정 */
	height: 30px; /* 높이 설정 */
	border: none; /* 테두리 없음 */
	border-radius: 5px; /* 모서리 둥글게 */
	padding: 5px; /* 패딩 설정 */
	box-sizing: border-box; /* 박스 크기 설정 */
}

.profile {
	margin: 0 auto; /* 중앙 정렬 */
	margin-top: 30px; /* 위쪽 여백 설정 */
	background-color: rgb(255, 252, 248);; /* 배경색 설정 */
	color: rgb(0, 0, 0);
	border-radius: 10px; /* 모서리 둥글게 */
	padding: 10px; /* 패딩 설정 */
	width: 200px; /* 너비 설정 */
	height: 60px; /* 높이 설정 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	display: flex; /* 플렉스 박스 설정 */
}

.search-button {
	margin-left: 10px; /* 왼쪽 여백 설정 */
	width: 70px; /* 너비 설정 */
	height: 30px; /* 높이 설정 */
	border: none; /* 테두리 없음 */
	border-radius: 30px; /* 모서리 둥글게 */
	padding: 5px; /* 패딩 설정 */
	background-color: white;
}

#sg_button {
	width: 120px;
	height: 50px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 15px;
	margin-left: 380px;
	margin-top: 370px;
}

#sg_button {
	background: gray;
	border: 5px solid gray;
	color: rgb(255, 255, 255);
}

#sg_button:hover {
	background: red;
	border-color: red;
	color: #fff;
}

#sg_button:active {
	background: red;
	border-color: #fff;
}

.speech-container {
	opacity: 0; /* 처음에는 보이지 않도록 설정 */
	transition: opacity 0.5s ease-in-out; /* 애니메이션 효과 */
	position: absolute; /* 위치를 절대값으로 설정 */
	top: 0; /* 상단 위치 설정 */
	left: 0; /* 좌측 위치 설정 */
	width: 100%; /* 너비 설정 */
}

.image-container {
	position: relative; /* 부모 요소에 상대 위치 설정 */
}

.image-container:hover .speech-container {
	opacity: 1; /* 마우스를 올리면 보이도록 설정 */
}

.speech-bubble {
	display: flex;
	align-items: center; /* display: flex; 를 써야 적용이 된다. */
	justify-content: center; /* display: flex; 를 써야 적용이 된다. */
	text-align: center;
	margin: auto; /* 중앙 정렬 */
	margin-top: 160px; /* 위쪽 여백 설정 */
	border-radius: 10px; /* 모서리 둥
    글게 */
	padding: 10px; /* 패딩 설정 */
	width: 230px; /* 너비 설정 */
	height: 300px; /* 높이 설정 */
	background-color: #ff5100; /* 배경색 설정 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.circle1 {
	margin: 0 auto; /* 중앙 정렬 */
	margin-top: 5px; /* 위쪽 여백 설정 */
	margin-left: 220px; /* 왼쪽 여백 설정 */
	width: 40px; /* 너비 설정 */
	height: 40px; /* 높이 설정 */
	background-color: #ff5100e1; /* 배경색 설정 */
	border-radius: 50%; /* 원형으로 만들기 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.circle2 {
	margin: 0 auto; /* 중앙 정렬 */
	margin-top: 5px; /* 위쪽 여백 설정 */
	margin-left: 200px; /* 왼쪽 여백 설정 */
	width: 20px; /* 너비 설정 */
	height: 20px; /* 높이 설정 */
	background-color: #ff5100e1; /* 배경색 설정 */
	border-radius: 50%; /* 원형으로 만들기 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#image {
	margin-top: 580px; /* 위쪽 여백 설정 */
	margin-left: -63px; /* 왼쪽 여백 설정 */
	height: 300px;
	width: 400px;
}

.subContainer2 {
	flex: 5; /* 플렉스 비율 설정 */
	width: 1200px; /* 너비 설정 */
	display: flex; /* 플렉스 박스 설정 */
	flex-direction: column; /* 세로 방향으로 정렬 */
	background-color: rgb(255, 255, 255);
}

.subContainer3 {
	flex: 1; /* 플렉스 비율 설정 */
	width: 300px; /* 너비 설정 */
	background-color: rgb(255, 255, 255);
	border-style: solid;
}


.subContainer2-1, .subContainer2-5 {
	border-bottom: 2px solid whitesmoke; /* 하단 테두리 설정 */
}

.subContainer2-1 {
	/* flex: 0.3; /* 플렉스 비율 설정 */
	background-color: #ff9900c2; /* 배경색 설정 */
	height: 110px;
}

.subContainer2-2 {
	/* flex: 10; /* 플렉스 비율 설정 */
	display: flex; /* 플렉스 박스 설정 */
	border-bottom: 2px solid whitesmoke; /* 하단 테두리 설정 */
	height: 570px; /* 높이 설정 */
}

.subContainer2-2-left {
	flex: 4; /* 플렉스 비율 설정 */
	border-right: 2px solid whitesmoke; /* 오른쪽 테두리 설정 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
	background-color: rgb(255, 255, 255); /* 배경색 설정 */
	padding-top: 30px;
	padding-left: 30px;
}

.subContainer2-2-right {
	align-content: center;
	flex: 6; /* 플렉스 비율 설정 */
	border-right: 2px solid whitesmoke; /* 오른쪽 테두리 설정 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
	background-color: white; /* 배경색 설정 */
}

.subContainer2-5 {
	/*flex: 0.1; /* 플렉스 비율 설정 */
	background-color: rgb(255, 255, 255); /* 배경색 설정 */
	height: 200px;
	align-items: center;
}

/*--------------------- Container3 버튼 설정 ------------------- */
.subContainer3 button {
	display: inline-block;
	font-weight: bold;
}

#btn1, #btn2, #btn3, #btn4 {
	background: #fff;
	border: 5px solid #ff5100e1;
	color: #ff5100e1;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
	background: #ff5100e1;
	border-color: #ff5100e1;
	color: #fff;
}

#btn1:active, #btn2:active, #btn3:active, #btn4:active {
	background: #ff5100e1;
	border-color: #fff;
}

#btn1 {
	margin-top: 30px; /* 위쪽 여백 설정 */
	height: 100px; /* 높이 설정 */
	width: 200px; /* 너비 설정 */
	font-size: 25px; /* 글자 크기 설정 */
}

#btn2 {
	margin-top: 10px; /* 위쪽 여백 설정 */
	height: 100px; /* 높이 설정 */
	width: 200px; /* 너비 설정 */
	font-size: 25px; /* 글자 크기 설정 */
}

#btn3 {
	margin-top: 10px; /* 위쪽 여백 설정 */
	height: 100px; /* 높이 설정 */
	width: 200px; /* 너비 설정 */
	font-size: 25px; /* 글자 크기 설정 */
}

#btn4 {
	margin-top: 200px; /* 위쪽 여백 설정 */
	height: 100px; /* 높이 설정 */
	width: 200px; /* 너비 설정 */
	font-size: 25px; /* 글자 크기 설정 */
}

#btn3_h, #btn4_h {
	background: #fff;
	border: 5px solid #ff5100e1;
	color: #ff5100e1;
	margin-top: 20px;
}

#btn3_h:hover, #btn4_h:hover {
	background: #ff5100e1;
	border-color: #ff5100e1;
	color: #fff;
}

#btn3_h:active, #btn4_h:active {
	background: #ff5100e1;
	border-color: #fff;
}

#btn1_h, #btn2_h {
	background: #ff5100e1;
	border: 5px solid #fff;
	color: #fff;
}

#btn1_h:hover, #btn2_h:hover {
	background: #fff;
	border-color: #fff;
	color: #ff5100e1;
}

#btn1_h:active, #btn2_h:active {
	background: #fff;
	border-color: #ff5100e1;
}

/* .subContainer2-1{
    /* border-top-left-radius: 20px; /* 좌측 상단 모서리 둥글게 */
/* border-top-right-radius: 20px; 우측 상단 모서리 둥글게 }*/

/* .subContainer2-5 {
    border-bottom-left-radius: 20px; /* 좌측 하단 모서리 둥글게 */
/*    border-bottom-right-radius: 20px; /* 우측 하단 모서리 둥글게} */
#btn1_h, #btn2_h {
	height: 80px; /* 높이 설정 */
	width: 255px; /* 너비 설정 */
	font-size: 30px; /* 글자 크기 설정 */
}

#btn3_h, #btn4_h {
	height: 120px; /* 높이 설정 */
	width: 255px; /* 너비 설정 */
	font-size: 50px; /* 글자 크기 설정 */
}

#btn3_h {
	margin-left: 55px;
}

#btn4_h {
	margin-left: -10px;
}

#btn1_h {
	margin-left: 70px; /* 왼쪽 여백 설정 */
	border-radius: 50px;
}

#btn2_h {
	margin-left: 80px;
	border-radius: 15px;
}

/*.subContainer2-5 .button1,*/
#btn3_h {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	cursor: pointer;
}

/*.subContainer2-5 .button2, */
#btn4_h {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	cursor: pointer;
}

.user_profile {
	height: 30px; /* 높이 설정 */
	width: 80px; /* 너비 설정 */
	font-size: 15px; /* 글자 크기 설정 */
}

.text-display {
	white-space: pre-line;
	/* 줄바꿈이 적용되도록 설정 */
}

