<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<insert id="join" parameterType="com.smhrd.model.MavenMemer">
		insert into USER_INFO
		values(#{u_id}, #{u_pw}, #{u_nick}, #{u_tel}, #{u_email}, 0, sysdate,
		#{u_type})
	</insert>

	<select id="login" parameterType="com.smhrd.model.MavenMemer"
		resultType="com.smhrd.model.MavenMemer">
		select *
		from USER_INFO
		where U_ID = #{u_id} and U_PW =
		#{u_pw}
	</select>

	<insert id="insertContent"
		parameterType="com.smhrd.model.PostContent">
		INSERT INTO POST_INFO
		VALUES
		(newpost_num_seq.NEXTVAL,
		#{post_title},
		#{post_content},
		#{post_views},
		#{post_likes},
		#{u_id},
		sysdate,
		sysdate)
	</insert>


	<insert id="insertImage"
		parameterType="com.smhrd.model.PostImage">
		INSERT INTO FILES_INFO
		VALUES
		(newpost_num_seq.NEXTVAL,
		(SELECT post_num
		FROM (
		SELECT post_num
		FROM POST_INFO
		ORDER BY post_num DESC
		) WHERE ROWNUM = 1) ,
		#{file_rname},
		#{file_ext},
		#{file_size},
		sysdate,
		sysdate)
	</insert>


</mapper>