<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<insert id="join" parameterType="com.smhrd.model.MavenMemer">
		insert into USER_INFO
		values(#{u_id}, #{u_pw}, #{u_nick}, #{u_tel}, #{u_email}, 0, sysdate,
		#{u_type})
	</insert>

	<select id="login" parameterType="com.smhrd.model.MavenMemer"
		resultType="com.smhrd.model.MavenMemer">
		select *
		from USER_INFO
		where U_ID = #{u_id} and U_PW =
		#{u_pw}
	</select>

	<insert id="insertContent"
		parameterType="com.smhrd.model.PostContent">
		INSERT INTO POST_INFO
		VALUES
		(newpost_num_seq.NEXTVAL,
		#{post_title},
		#{post_content},
		#{post_views},
		#{post_likes},
		#{u_id},
		sysdate,
		sysdate)
	</insert>


	<update id="UpdateContent"
		parameterType="com.smhrd.model.UpdateVo">
		UPDATE POST_INFO
		SET POST_CONTENT = #{post_content,
		jdbcType=CLOB},
		UPDATED_AT = sysdate
		WHERE
		DBMS_LOB.COMPARE(POST_CONTENT, #{updatecontent, jdbcType=CLOB}) = 0
	</update>

	<insert id="insertImage"
		parameterType="com.smhrd.model.PostImage">
		INSERT INTO FILES_INFO
		VALUES
		(newpost_num_seq.NEXTVAL,
		(SELECT post_num
		FROM (
		SELECT post_num
		FROM POST_INFO
		ORDER BY post_num
		DESC
		) WHERE ROWNUM = 1) ,
		#{file_rname},
		#{file_ext},
		#{file_size},
		sysdate,
		sysdate)
	</insert>


	<update id="Updateimage"
		parameterType="com.smhrd.model.UpdateVo">
		UPDATE FILES_INFO
		SET FILE_EXT = #{file_ext},
		FILE_SIZE =
		#{file_size},
		FILE_RNAME = #{file_rname},
		UPDATED_AT = sysdate
		WHERE
		FIlE_RNAME = #{updateimagename}
	</update>


	<select id="NextPost" parameterType="int"
		resultType="com.smhrd.model.PostImage">
		SELECT FILE_NUM, POST_NUM, FILE_RNAME
		FROM (
		SELECT FILE_NUM,
		POST_NUM, FILE_RNAME
		FROM FILES_INFO
		WHERE FILE_NUM &lt; #{file_num}
		ORDER BY FILE_NUM DESC
		)
		WHERE ROWNUM = 1
	</select>


	<select id="NextcPost" parameterType="int"
		resultType="com.smhrd.model.PostContent">
		SELECT POST_NUM, pOST_TITLE, POST_CONTENT, POST_VIEWS,
		POST_LIKES, U_ID FROM POST_INFO WHERE POST_NUM = #{post_num}
	</select>

	<select id="FindNumber" resultType="com.smhrd.model.FindNumber">
		SELECT MAX(FILE_NUM) AS
		max_file_num, MIN(FILE_NUM) AS min_file_num
		FROM FILES_INFO
	</select>

	<select id="PrePost" parameterType="int"
		resultType="com.smhrd.model.PostImage">
		SELECT FILE_NUM, POST_NUM, FILE_RNAME
		FROM (
		SELECT FILE_NUM,
		POST_NUM, FILE_RNAME
		FROM FILES_INFO
		WHERE FILE_NUM &gt; #{file_num}
		ORDER BY FILE_NUM ASC
		)
		WHERE ROWNUM = 1
	</select>
	<select id="selectMyPost" parameterType="String"
		resultType="com.smhrd.model.PostImage">
		SELECT f.FILE_RNAME
		FROM FILES_INFO f
		JOIN POST_INFO p ON
		f.POST_NUM = p.POST_NUM
		WHERE p.U_ID = #{u_id}
	</select>

	<select id="findcontent" parameterType="String"
		resultType="String">
		SELECT p.POST_CONTENT
		FROM FILES_INFO f
		JOIN POST_INFO p ON
		f.POST_NUM = p.POST_NUM
		WHERE f.FILE_RNAME = #{file_rname}
	</select>


</mapper>